<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <!-- Game Name Heading -->
    <h1 class="game-title text-center mb-4" style="color: #fff; font-family: 'Press Start 2P', cursive;">
        <!-- Print the game name from the server-side EJS variable -->
        <%= game.name %>
    </h1>
    
    <!-- Game Display Container -->
    <div style="width:1080px;height:720px;max-width:100%">
        <div id="game"></div>
    </div>
    
    <!-- Emulator Script -->
    <script>
        EJS_player = "#game";

        // Core
        EJS_core = "<%= game.core %>";

        EJS_gameName = "<%= game.name %>";
        EJS_color = "#0064ff";
        EJS_pathtodata = "https://cdn.emulatorjs.org/stable/data/";

        // Game URL
        EJS_gameUrl = "<%= game.gameUrl %>";
    </script>
    <script src="https://cdn.emulatorjs.org/stable/data/loader.js"></script>
</div>