<div class="container mt-5">
    <div class="row">
      <% items.forEach(item => { %>
        <div class="col-md-4 mb-4">
          <div class="card text-bg-dark">
              <a href="/game/<%= item._id %>">
                <div class="ratio" style="--bs-aspect-ratio: 115%;">
                  <img src="<%= item.image %>" class="object-fit-contain rounded" alt="...">
                </div>
                <div class="card-img-overlay">
                </div>
              </a>
            </div>
        </div>
      <% }) %>
    </div>
</div>


<!-- Pagination Buttons -->
<div class="container">
  <p></p>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="/prev">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/next">Next</a>
      </li>
    </ul>
  </nav>
</div>